.add-bar {
  background-color: #CB1D00;
  padding: 5 10;
}
.add-bar Image {
  height: 15;
  vertical-align: center;
  margin-left: 10;
  margin-right: 5;
}
TextField {
  color: white;
}

.sideDrawer{
  background-color: #009688;
  padding: 16px;
}

.sideTitleStackLayout label{
  font-weight: bold;
  line-height: 28dp;
  font-size: 20sp;
  color: white;
}

.menuEntries label{
  font-weight: normal;
  line-height: 24dp;
  font-size: 16sp;
  color: white;
} 