TextField {
  color: #ffffff;
}

.cardStyle {
  color: #000;
  background-color: white;

  margin: 10px;
}

.clear-btn {
  background-color: white;
  padding:5px;
}

.cardStyle Label {
  padding: 10px;
}

.fab {

  width: 40px;
  height: 40px;
  background-color: orange;
  border-radius: 20px;
}